@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Pixelify+Sans:wght@600&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Open+Sans:wght@300&family=Pixelify+Sans:wght@600&display=swap');
@import 'variables/styles';



@keyframes moveArrow{
    0%, 100%{
        transform:translateY(20);
    }
    50%{
        transform:translateY(-10px);
    }
}

.home{
    padding:0;
    margin:0;
    position: relative;
    z-index: 3;
    max-width:100%;
    box-sizing: border-box;
    .name{
        font-size: 150%;
        .text-name{
            color:rgb(139,132,198);
            font-family: 'Yellowtail', sans-serif;
            padding-left:0;
            padding-right:0;
            padding-left:0.7rem;
            font-size:1.7rem;
        }
        .title{
            font-family: 'Kanit', sans-serif;
            margin-bottom:0.2rem;
            color:rgb(139,132,198);
        }
        .subtitle{
            .text-subtitle{
                font-family: 'Kanit', sans-serif;
                color:$white;
                .hr{
                    width: 99%;
                    margin:0;
                    padding:0;
                    font-size: 2rem;
                    border:3px solid $white;
                }
            }
        }
    }
    /* Primer Bloque de la pagina "HOME" */
    .contain{
        box-sizing: border-box;
        margin:0;
        padding:0;
        position:relative;
        .icon-arrow-down{
            color: $white;
            font-size: 2rem;
            text-align: center;
            animation-name:moveArrow;
            animation-duration:1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            width:100%;
            padding:1rem;
            padding-top:2rem;
        }
        .paragraph{
            font-family:'Kanit', sans-serif;
            padding:0;
            margin:0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            box-sizing: border-box;
            padding:1rem;
            position:relative;
            .img{
                width:90%;
                object-fit: contain;
                border:3px solid rgb(139,132,198);
                -webkit-box-shadow: -1px 4px 10px 7px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 4px 10px 7px rgba(0,0,0,0.75);
                box-shadow: -1px 4px 10px 7px rgba(0,0,0,0.75);  
                border-radius: 7px;      
            }
            .link-image-demo{
                position:absolute;
                bottom:30px;
                left:50px;
                text-decoration: unset;
                color: $white;
                text-align: center;
                border:3px solid rgb(139,132,198);
                border-radius: 5px;
                background: radial-gradient(circle, rgba(16,7,85,1) 0%, rgba(18,9,97,1) 0%, rgba(139,132,198,1) 0%, rgba(22,12,93,1) 0%, rgba(12,11,24,1) 0%, rgba(90,84,136,1) 100%);
                z-index:-1;
                width: 30%;
            }
            .link-image-demo:hover{
                -webkit-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                font-size:1.2rem;
                width: 30%;
            }
            .link-image-github{
                position:absolute;
                bottom:30px;
                right:50px;
                text-decoration: unset;
                color: $white;
                text-align: center;
                border:3px solid $black;
                border-radius: 5px;
                background: radial-gradient(circle, rgba(16,7,85,1) 0%, rgba(18,9,97,1) 0%, rgba(139,132,198,1) 0%, rgba(22,12,93,1) 0%, rgba(12,11,24,1) 0%, rgba(90,84,136,1) 100%);
                z-index:-1;
                width: 30%;
                    
            }
            .link-image-github:hover{
                -webkit-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                font-size:1.2rem;
                
            }
        }
        .paragraph:hover{
            .img{
                opacity:0.4;
                z-index:0;
            }
            .link-image-github, .link-image-demo{
                position:absolute;
                border:3px solid rgb(139,132,198);
                z-index:1;
            }
        }
        .mid{
            padding-left:1rem;
            padding-right:1rem;
        }
    }
}
/* Segundo Bloque de la pagina "Projects" */
body{
    #root{
       .App{
        #about{
            margin-bottom: 2rem;
            color: $white;
            font-family:'Kanit', sans-serif;
            font-weight: 100;
            letter-spacing: 2px;
            .icon-monitor{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .icon-monitor::before{
                font-size: 20rem;
            }
            .icon-monitor:hover{
                transform:rotate(360deg);
                transition: 2s ease-in-out;
                color: rgb(69, 66, 98);
            }
            .text-about{
                font-size: 4rem;
            }
            h5{
                width: auto;
            }
            .greetings{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                .rotate{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform:rotate(45deg);
                    color: $white;
                    width: 73px;
                    height: 30px;
                }
            }
            .experience{
                margin-top: 4rem;
                ul{
                   margin-left: 2rem;
                   li{
                    margin-top: 1rem;
                   }
                }
            }
            .cursos{
                margin-top: 4rem;
                ul{
                    span{
                        text-decoration:underline;
                       
                    }
                    li{
                        margin-top: 1rem;
                        margin-left: 4rem;
                    }
                }
            }
            .skills{
                margin-top:2rem;
            }
        }
    } 
        #technologies{
            padding:0;
            margin:0;
            margin:auto;
            width: 100%;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Kanit', sans-serif;
            .targets{
                margin-top: 2rem;
            }
            .w{
                margin-bottom:5rem;
            }
            h1{
                margin:0;
            }
            .card-father-html:hover .card-html, .card-father-css:hover .card-css, .card-father-js:hover .card-js,  .card-father-react:hover .card-react, .card-father-github:hover .card-github, .card-father-nodejs:hover .card-nodejs, .card-father-redux:hover .card-redux, .card-father-mysql:hover .card-mysql {
                transform: rotateY(180deg);
            }
            .card-html, .card-css, .card-js, .card-react, .card-github, .card-nodejs, .card-redux, .card-mysql{
                position:relative;
                height: 200px;
                width:200px;
                transform-style: preserve-3d;
                transition:all 1000ms;
                border:2px solid black;
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.75);
                background: radial-gradient(circle, rgba(16,7,85,1) 0%, rgba(18,9,97,1) 0%, rgba(139,132,198,1) 0%, rgba(22,12,93,1) 0%, rgba(12,11,24,1) 0%, rgba(90,84,136,1) 100%);

                .card-back-html, .card-back-css, .card-back-js, .card-back-react, .card-back-github, .card-back-nodejs, .card-back-redux, .card-back-mysql{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                }
                .card-front-html, .card-front-css, .card-front-js, .card-front-react, .card-front-github, .card-front-nodejs, .card-front-redux, .card-front-mysql{
                    position:absolute;
                    top:28px;
                    left: 26px;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    width: 150px;
                    height: 150px;
                    background-size: cover;
                    background-position: center;  
                    transform: translateZ(60px);
                }
                .card-front-html{
                    background-image:url(https://pawansingh.vercel.app/assets/html-d20c9482.png);
                }
                .card-front-css{
                    background-image:url(https://pawansingh.vercel.app/assets/css-4040bdba.png);
                }
                .card-front-js{
                    background-image:url(https://pawansingh.vercel.app/assets/javascript-d04a05c4.png);
                }
                .card-front-react{
                    background-image:url(https://pawansingh.vercel.app/assets/react-e00184ba.png);
                }
                .card-front-github{
                    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/200px-GitHub_Invertocat_Logo.svg.png);
                }
                .card-front-nodejs{
                    background-image:url(https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png);
                    height:133px;
                    left:42px;
                    width: 115px;
                }
                .card-front-redux{
                    background-image:url(https://keepcoding.io/wp-content/uploads/2023/08/image-151.png);
                    width: 158px;
                }
                .card-front-mysql{
                    background-image:url(https://cdn-icons-png.flaticon.com/512/5968/5968313.png);
                }

                .card-back-html, .card-back-css, .card-back-js, .card-back-react, .card-back-github, .card-back-nodejs, .card-back-redux, .card-back-mysql{
                    transform: rotateY(180deg);
                    transition: all 600ms;
                }
                .body-card-back{
                    transform: translateZ(60px);
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    body{
        #root{
            .App{
                .home{
                    .name{
                        .text-name{
                            padding: 0;
                        }
                        .title{
                            padding: 0;
                        }
                        .subtitle{
                            .text-subtitle{
                                padding: 0;
                            }
                        }
                    }
                }
                #technologies{
                    .targets{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .card-father-redux, .card-father-mysql{
                            width: 25%;
                        }
                    }
                    .card-html, .card-css, .card-js, .card-react, .card-github, .card-nodejs, .card-redux, .card-mysql{
                        width: 180px;
                        height: 180px;
                        margin-left: 1rem;
                    }
                    .card-front-html, .card-front-css, .card-front-js, .card-front-react, .card-front-github, .card-front-nodejs, .card-front-redux, .card-front-mysql{
                        width: 140px;
                        height: 140px;
                        top:18px;
                        left:17px;
                    }
                    .card-front-nodejs{
                        height:129px;
                        left:33px;
                        width: 114px;
                    }
                    .card-front-redux{
                        width: 146px;
                    }
                    .body-card-back{
                        h1{
                            font-size: 2rem;
                        }
                    }
                }  
            }
        }
    }
}

@media (max-width: 992px) {
    body{
        #root{
            .App{
                .header{
                    .row>* {
                        padding: 0;
                        margin: 0;
                    }
                }
                
                #technologies{
                    .targets{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .card-father-redux, .card-father-mysql{
                            width: 25%;
                        }
                    }
                    .card-html, .card-css, .card-js, .card-react, .card-github, .card-nodejs, .card-redux, .card-mysql{
                        width: 120px;
                        height: 120px;
                        margin-left: 1rem;
                    }
                    .card-front-html, .card-front-css, .card-front-js, .card-front-react, .card-front-github, .card-front-nodejs, .card-front-redux, .card-front-mysql{
                        width: 80px;
                        height: 80px;
                        top:18px;
                        left:17px;
                    }
                    .card-front-nodejs{
                        height:50px;
                        left:20px;
                        width: 45px;
                    }
                    .card-front-redux{
                        width: 53px;
                    }
                    .body-card-back{
                        h1{
                            font-size: 1.4rem;
                        }
                    }
                }
                #about{
                    .icon-monitor::before{
                        display: none;
                    }
                }   
            }
        }
    }
}


@media (max-width: 760px) {
    .home{
        .row>*{
            padding: 0;
            margin: 0;
        }
        .name{
            .text-name{
                color:rgb(139,132,198);
                font-family: 'Yellowtail', sans-serif;
                font-size:1.7rem;
                padding: 0;
            }
        }
        .contain{
            .icon-arrow-down{
                position: unset;
            }
            .paragraph{
                .link-image-demo{
                    bottom:42px;
                    left:28px;
                }
                .link-image-github{
                    bottom:42px;
                    right:28px;
                }
            }
        }
    }
    body{
        #root{
            .App{
                padding-left: 20px;
                #about{
                    padding: 0;
                    margin: 0;
                    .experience{
                        margin-top: 1rem;
                        ul{
                            margin-left: 0rem;
                            padding-left: 2.5rem;
                        }
                    }
                    .cursos{
                        margin-top: 1rem;
                        h5{
                          font-size: 1.1rem;
                          margin-left: 0.4rem;
                        }
                        ul{
                            padding-left: 2.5rem;
                            li{
                                margin-left: 0rem;
                            }
                        } 
                    }
                }
                .icon-monitor::before{
                    display: none;
                }
                #technologies{
                    margin:0;
                    justify-content: unset;
                    .row>* {
                        margin:0;
                        padding:0;
                    }
                    .targets{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        .w{
                            margin-bottom: 2rem;
                            width: 33.33%;
                        }
                    }
                    
                    .card-html, .card-css, .card-js, .card-react, .card-github, .card-nodejs, .card-redux, .card-mysql{
                        width: 85px;
                        height: 85px;
                        margin-left: 1rem;
                    }
                    .card-front-html, .card-front-css, .card-front-js, .card-front-react, .card-front-github, .card-front-nodejs, .card-front-redux, .card-front-mysql{
                        width: 50px;
                        height: 50px;
                        top:18px;
                        left:17px;
                    }
                    .card-front-nodejs{
                        height:50px;
                        left:20px;
                        width: 45px;
                    }
                    .card-front-redux{
                        width: 53px;
                    }
                    .body-card-back{
                        h1{
                            font-size: 1rem;
                        }
                    }
                }   
            }
        }
    }
}
@media (orientation:landscape){
    body{
        #root{
            .App{
                #technologies{
                    margin:0;
                    justify-content: center;
                    .targets{
                        .w{
                            width: 25%;
                        }
                    }
                }   
            }
        }
    }
}
