@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Pixelify+Sans:wght@600&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Open+Sans:wght@300&family=Pixelify+Sans:wght@600&display=swap');
@import 'variables/styles';



@keyframes moveArrow{
    0%, 100%{
        transform:translateY(20);
    }
    50%{
        transform:translateY(-10px);
    }
}

*{
    margin:0;
    padding:0;
}
.home{
    max-width:100%;
    box-sizing: border-box;
    .name{
        font-size: 150%;
        .text-name{
            color:#0fffa2;
            font-family: 'Yellowtail', sans-serif;;
            padding-left:0;
            padding-right:0;
            padding-left:0.7rem;
            font-size:1.7rem;
        }
        .title{
            font-family: 'Kanit', sans-serif;
            margin-bottom:0.2rem;
            color:#0fffa2;
        }
        .subtitle{
            .text-subtitle{
                font-family: 'Kanit', sans-serif;
                color:$black;
                .hr{
                    width: 99%;
                    margin:0;
                    padding:0;
                    font-size: 2rem;
                    border:3px solid $black;
                }
            }
        }
    }
    /* Primer Bloque de la pagina "HOME" */
    .contain{
        box-sizing: border-box;
        margin:0;
        padding:0;
        position:relative;
        margin-bottom: 3.2rem;
        .icon-arrow-down{
            position:absolute;
            right: 47%;
            top:620px;
            color: #0fffa2;
            font-size: 2rem;
            text-align: center;
            animation-name:moveArrow;
            animation-duration:1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            width:80px;
            height: 80px;
            padding:1rem;
            padding-top:2rem;
        }
        .paragraph{
            font-family:'Kanit', sans-serif;
            padding:0;
            margin:0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            box-sizing: border-box;
            padding:1rem;
            position:relative;
            .img{
                width:90%;
                object-fit: contain;
                border:3px solid #07f79b;
                -webkit-box-shadow: -1px 4px 10px 7px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 4px 10px 7px rgba(0,0,0,0.75);
                box-shadow: -1px 4px 10px 7px rgba(0,0,0,0.75);  
                border-radius: 7px;      
            }
            .link-image-demo{
                position:absolute;
                bottom:30px;
                left:50px;
                text-decoration: unset;
                color: $black;
                text-align: center;
                border:3px solid $black;
                border-radius: 5px;
                background: linear-gradient(90deg, rgba(2,121,32,1) 20%, rgba(20,209,47,1) 50%, rgba(56,107,46,1) 79%, rgba(26,168,47,1) 100%);
                width: 30%;
                z-index:-1;
            }
            .link-image-demo:hover{
                -webkit-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                font-size:1.2rem;
            }
            .link-image-github{
                position:absolute;
                bottom:30px;
                right:50px;
                text-decoration: unset;
                color: $black;
                text-align: center;
                border:3px solid $black;
                border-radius: 5px;
                background: linear-gradient(90deg, rgba(2,121,32,1) 20%, rgba(20,209,47,1) 50%, rgba(56,107,46,1) 79%, rgba(26,168,47,1) 100%);
                width: 30%;
                z-index:-1;
                    
            }
            .link-image-github:hover{
                -webkit-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.75);
                font-size:1.2rem;
            }
        }
        .paragraph:hover{
            .img{
                opacity:0.4;
                z-index:0;
            }
            .link-image-github, .link-image-demo{
                position:absolute;
                border:3px solid #0fffa2;
                z-index:1;
            }
        }
        .mid{
            padding-left:1rem;
            padding-right:1rem;
        }
    }
}
/* Segundo Bloque de la pagina "Projects" */
body{
    #root{
       .App{
        #about{
            width: 100%;
            background: linear-gradient(180deg, rgba(86,103,78,1) 20%, rgba(58,131,76,1) 45%, rgba(66,134,76,1) 66%, rgba(56,107,46,1) 84%, rgba(86,103,78,1) 100%);
        }
       } 
    }
}

@media (max-width: 540px) {
    .home{
        .contain{
            .back-to-top {
                    bottom: 2.7rem;
            }
            .hiddin{
                    position: fixed;
                    bottom: -3rem;
            }
            .icon-arrow-down{
                    font-size: 2rem;
            }
            .paragraph{
                .link-image-demo{
                    bottom:20px;
                    left:28px;
                    width: 30%;
                    font-size:0.75rem;
                }
                .link-image-github{
                    bottom:20px;
                    right:28px;
                    width: 30%;
                    font-size:0.75rem;
                }
            }
        }
    }
}