.home{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction:column;
    width: 75%;
    height: 20em;
    color: rgb(200, 67, 5);
    font-weight: bolder;
    position:absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:175px;
    left: 88px;
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align:justify;
}
.name{
    font-size:2em;
    padding-bottom:2em;
}
.paragraph{
    margin-right: 30px;
}
span{
    font-family:cursive;
}