.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 10em;
    color: rgb(200, 67, 5);
    font-weight: bolder;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    top:0.1em;
    left: 88px;
}