.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 75%;
    height: 10em;
    color: rgb(200, 67, 5);
    font-weight: bolder;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    top:0.1em;
    left: 88px;
}
.github{
    all:unset;
    cursor:pointer;
    margin-right: 30px;
    font-size:medium;
    color:aqua;
    transition:1s;
}
.github:hover{
    color:rgb(242, 9, 9);
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:2em;
}
.icon{
    border-radius: 50%;
    background-color:rgb(240, 37, 10);
    width: 1.5em;
    height: 1.5em;
}
.icon:hover{
    background-color: aquamarine;
}
.iconName{
    border-radius: 50%;
    width: 5em;
    height: 5em;
}