.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 10em;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(200, 67, 5);
    position:absolute;
    bottom:0.1em;
}