@import 'variables/styles';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    #root{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: relative;
        background: radial-gradient(circle, rgba(16,7,85,1) 0%, rgba(18,9,97,1) 0%, rgba(139,132,198,1) 0%, rgba(22,12,93,1) 0%, rgba(12,11,24,1) 0%, rgba(90,84,136,1) 100%);
    }
    #root::before{
        content: "";
        position: absolute;
        background-image:url(https://fondosmil.co/fondo/52739.jpg);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        overflow: hidden;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .App{
        margin-top: 1rem;
        color:$text;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
}

@media (max-width:1600px){
    body{
        .App{
            width: 100%;
            padding: 0 5px;
            margin: 0;
        }
    }
}

