@import 'variables/styles';

*{
    margin:0;
    padding:0;
}
body{
    #root{
        height: 100vh;
    }
    #root::before{
        content:"";
        position:absolute;
        width: 100%;
        height: 100%;
        background-image:url(https://fondosmil.co/fondo/52739.jpg);
        opacity:0.1;
    }
}
.App{
    width:100vw;
    padding:0;
    margin:0;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction:column;
    color:$text;
    position:relative;
}